#info{
  background-color: #DDD;
  padding: 20px;
  margin: 50px auto;
  width: 800px;
  height: auto;
  text-align: center;
}

li{
  text-align: left;
  display: inline-block;
  margin: 20px
}

button{
  padding: 10px
}
